build/*
bin/*
lib/*
videos/*

!log/
!map/
!include/

!.gitignore
!*.pdf
!*.log
!*.dat
!*.txt
!*.gif

CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
